body{
    background-color: #F8FAFC;
    margin: 10px;
    
}

header{
    background-color: lightblue;
    font-size: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px;
    padding-left: 5px;
}

#goback{
    color: #0F172A;
    text-decoration: none;
}