header{
    background-color: lightblue;
    font-size: 50px;
    margin: 20px 20px;
    height: 100px;    
    display: flex;
    align-items: center;
    padding: 0;
    flex-direction: row;
    gap: 100px;
    border-radius: 12px;
    box-shadow: 0 8px 20px;
}

body {
    margin: 10px;
    background-color: #F8FAFC;
    
}


#maincontainer {
    display: flex;
    gap: 10px;
    margin: 0px 20px;
   
}

#sidebar {
    background-color: lightblue;
    text-align: center;
    font-size: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px;
    flex: 1;    
    margin: 0;  
}

#contentbox {
    background-color: lightblue;
    text-align: center;
    font-size: 15px;
    border-radius: 12px;
    box-shadow: 0 8px 20px;
    flex: 2;    
    margin: 0;  
}

#footer {
    background-color: lightblue;
    text-align: center;
    font-size: 45px;
    border-radius: 12px;
    box-shadow: 0 8px 20px;
    margin: 20px 20px; 
    height: 100px;       
    display: flex;       
    align-items: center; 
    justify-content: center; 
    
    padding: 0;
}

#statement{
    text-align: left;
    margin-bottom: 25px;
    color: #0F172A;
}

#arithmeticsequence{
    color: #0F172A;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;

}

#arithmeticseries{
    color: #0F172A;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;

}

#footer2{
    color: #0F172A;
    text-decoration: none;
    display: inline-block;
}

#name{
     font-family: 'Times New Roman', Times, serif;
     font-size: 35px;
     float: none;
     position: fixed;
     top: 50%;
     left: 70%;
     transform: translate(-50%, -50%);
     z-index: 1;
     opacity: 0.5;
}

#number{
    text-align: center;
}

#logo{
     float: none;
     position: fixed;
     top: 50%;
     left: 40%;
     transform: translate(-50%, -50%);
     z-index: 1;
     opacity: 0.3;
    }
